/* 
============================================
*  Description: 觅诚项目样式库
*  Author: 张功睿
*  Version: 1.0.0
*  Edit: 2019-08-11 14:40
*  LastEdit: 2019-08-12 17:42
============================================
*/

/* 基础设置
============================================ */
:root {
  /* color */
  --blue: #3f80cc;
  --orange: #e5931e;
  --light-red: #e26a6a;
  --grey-1: #f8f8f8;
  /* font */
  --font-l: 0.36rem;
  --font-m: 0.26rem; 
}

.font-orange {
  color: var(--orange);
}

.font-blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

/* 根元素设置
============================================ */
html, body {
  background-color: var(--grey-1);
}

/* 阴影
============================================ */
.box-shadow {
  box-shadow: 0 0 0.5rem 0 rgba(175, 175, 175, 0.5);
}

/* 弹性布局
============================================ */

/* 默认水平方向 */
.flex {
  display: flex;
}

/* 垂直方向 */
.flex-y {
  display: flex;
  flex-direction: row;
}

/* 水平居中 */
.flex-x-c {
  display: flex;
  justify-content: center;
}

/* 水平两端对齐 */
.flex-x-b {
  display: flex;
  justify-content: space-between;
}

/* 水平平均分布 */
.flex-x-a {
  display: flex;
  justify-content: space-around;
}

/* 垂直居中 */
.flex-y-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 水平垂直居中 */
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* o-header
============================================ */
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: var(--blue);
  color: #fff;
  font-size: 0.36rem;
  line-height: 1rem;
}

.o-header-title {
  position: absolute;
  width: auto;
  text-align: center;
  left: 0;
  right: 0;
}

.o-header-left {
  position: absolute;
  left: 0;
  padding-left: 0.3rem;
  z-index: 2;
}

.o-header-right {
  position: absolute;
  right: 0;
  padding-right: 0.3rem;
}

.o-header-btn {
  text-align: center;
  vertical-align: middle;
}

.o-header-left .o-header-btn {
  margin-right: 0.2rem;
}

.o-header-right .o-header-btn {
  margin-left: 0.2rem;
}

.o-header-btn::before {
  font-size: 0.5rem;
}

.icon-fanhui::before {
  font-size: 0.4rem;
}

.icon-tuichu::before {
  font-size: 0.4rem;
}

/* o-tab-card
============================================ */
.header-tab {
  position: relative;
}

.header-tab-bg {
  position: absolute;
  width: 100%;
  height: 1.4rem;
  background-color: var(--blue);
}

.tab-card {
  position: relative;
  background-color: #fff;
  margin: 0 0.3rem;
  padding: 0.3rem 0;
  border-radius: 0.05rem;
  z-index: 2;
}

.tab-card-tab-icon {
  width: 0.86rem;
  height: 0.86rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.15);
}

.tab-card-tab-icon i {
  font-size: 0.45rem;
}

.tab-card-tab-title {
  font-size: var(--font-m);
  margin-top: 0.2rem;
}
