/*
============================================
*  Description: 觅诚项目样式库
*  Author: 张功睿
*  Version: 1.1.0
*  Edit: 2019-08-11 14:40
*  LastEdit: 2019-08-20 11:23
============================================
*/

/* 基础设置
============================================ */

:root {
  /* color */
  --primary-color: #f8cf65;
  --primary-light-color: #f5d480;
  --orange: #e5931e;
  --light-red: #e26a6a;
  --green: #4caf50;
  --yellow: #ffc107;
  /* text */
  --major-text: #242424;
  --helper-text: #666666;
  --disable-text: #a1a1a1;
  /* font */
  --font-l: 0.36rem;
  --font-m: 0.26rem;
  --font-s: 0.20rem;
}

.font-orange {
  color: var(--orange);
}

.font-blue {
  color: var(--blue);
}

.font-red {
  color: var(--light-red)
}

.bg-blue {
  background-color: var(--blue);
}

.font-m {
  font-size: var(--font-m);
}

/* 根元素设置
============================================ */

html,
body {
  width: 100%;
  height: 100%;
  font-size: var(--font-m);
  color: var(--major-text);
}

[v-cloack] {
  display: none;
}

/* 容器
============================================ */

.wrap {
  margin: 0 0.3rem;
}

/* 阴影
============================================ */

.box-shadow {
  box-shadow: 0 0 0.15rem 0 rgba(175, 175, 175, 0.25);
}

/* 弹性布局
============================================ */

/* 默认水平方向 */

.flex {
  display: flex;
}

/* 垂直方向 */

.flex-y {
  display: flex;
  flex-direction: column;
}

/* 水平居中 */

.flex-x-c {
  display: flex;
  justify-content: center;
}

/* 水平两端对齐 */

.flex-x-b {
  display: flex;
  justify-content: space-between;
}

/* 水平平均分布 */

.flex-x-a {
  display: flex;
  justify-content: space-around;
}

.flex-aic {
  display: flex;
  align-items: center;
}

/* 垂直居中 */

.flex-y-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 水平垂直居中 */

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* o-header
============================================ */

.o-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  font-size: 0.36rem;
  line-height: 1rem;
}

.o-header-title {
  position: absolute;
  width: auto;
  text-align: center;
  left: 0;
  right: 0;
}

.o-header-title img {
  height: .45rem;
}

.o-header-left {
  position: absolute;
  left: 0;
  padding-left: 0.3rem;
  z-index: 2;
}

.o-header-right {
  position: absolute;
  right: 0;
  padding-right: 0.3rem;
}

.o-header-btn {
  text-align: center;
  vertical-align: middle;
}

.o-header-left .o-header-btn {
  margin-right: 0.2rem;
}

.o-header-right .o-header-btn {
  margin-left: 0.2rem;
}

.o-header-btn::before {
  font-size: 0.4rem;
}

/* o-tab-card
============================================ */

.header-tab {
  position: relative;
}

.header-tab-bg {
  position: absolute;
  width: 100%;
  height: 1.4rem;
  background-color: var(--blue);
}

.tab-card {
  position: relative;
  background-color: #fff;
  padding: 0.3rem 0;
  border-radius: 0.05rem;
  z-index: 2;
}

.tab-card-tab-icon {
  width: 0.86rem;
  height: 0.86rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.15);
}

.tab-card-tab-icon i {
  font-size: 0.45rem;
}

.tab-card-tab-title {
  font-size: var(--font-m);
  margin-top: 0.2rem;
}

/* 基本 */

.o-button {
  appearance: none;
  border-radius: 0.04rem;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: var(--font-m);
  height: .8rem;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

/* 点击效果 */

.o-button::after {
  background-color: #000;
  content: " ";
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.o-button:not(.o-button-disabled):active::after {
  opacity: .2;
}

/* 颜色 */

.o-button--blue {
  background-color: var(--blue);
  color: #fff;
}

.o-button--light-red {
  background-color: var(--light-red);
  color: #fff;
}

/* 尺寸 */

.o-button--large {
  width: 100%;
  font-size: var(--font-l);
}

.o-button--normal {
  padding: 0 .3rem;
}

.o-button--small {
  font-size: var(--font-s);
  height: .6rem;
  padding: 0 .2rem;
}

/* 禁用 */

.o-button-disabled {
  opacity: .35;
}

/* 幽灵按钮 */

.o-button-plain {
  background-color: transparent;
}

.o-button-plain.o-button--blue {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.o-button-plain.o-button--light-red {
  color: var(--light-red);
  border: 1px solid var(--light-red);
}

/* o-tab-card
============================================ */

/* 基础 */

.o-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 0.26rem;
  vertical-align: middle;
  text-decoration: none;
}

/* 标题 */

.o-field {
  background-color: #fff;
}

.o-field label {
  width: 1rem;
  background-color: #fff;
  padding: .1rem .2rem;
}

/* 内容区 */

.o-field-value {
  display: flex;
  flex: 1;
  padding: .3rem .2rem;
  background-color: #fff;
}

/* 输入区 */

.o-field-core {
  appearance: none;
  border-radius: 0;
  border: 0;
  flex: 1;
  outline: 0;
  line-height: 1.6;
  font-size: inherit;
  width: 100%;
}

.o-field-core::placeholder {
  color: #aaa;
}

/* 清除按钮 */

.o-field-clear {
  margin-left: .1rem;
  opacity: .3;
}

/* 状态图标 */

.o-field-state {
  margin-left: .1rem;
}

.o-field-state.is-success i::before {
  color: var(--green);
}

.o-field-state.is-error i::before {
  color: var(--light-red);
}

.o-field-state.is-warning i::before {
  color: var(--yellow);
}

/* o-checkbox
============================================ */

/* 基础 */

.o-checkbox {
  font-size: var(--font-m);
}

.o-checkbox-label {
  display: flex;
  align-items: center;
  display: inline-block;
}

.o-checkbox-input {
  display: none;
}

/* icon 尺寸设置 */

.o-checkbox-icon .iconfont {
  font-size: .38rem;
  color: var(--blue);
}

.o-checkbox-icon .icon-quan {
  color: #dbdbdb;
}

/* o-avatar
============================================ */

/* 基础 */

.o-avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

/* 头像尺寸 */

.o-avatar-large {
  width: 1.28rem;
  height: 1.28rem;
}

.o-avatar-normal {
  width: 0.8rem;
  height: 0.8rem;
}

.o-avatar-small {
  width: 0.64rem;
  height: 0.64rem;
}

/* 默认头像 */

.o-avatar-default {
  color: #fff;
}

.o-avatar-large i::before {
  font-size: 0.5rem;
}

.o-avatar-normal i::before {
  font-size: 0.4rem;
}

.o-avatar-small i::before {
  font-size: 0.3rem;
}

/* o-mask
============================================ */

.o-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 200;
}

/* o-popup
============================================ */

.o-popup {
  width: 92%;
  min-height: 6rem;
  max-height: 10rem;
  overflow: scroll;
  background-color: #fff;
  border-radius: .1rem;
  position: relative;
}

.o-popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .3rem .3rem 0 0;
}

.o-popup-close i {
  display: block;
  color: #cdcdcd;
  font-size: .25rem;
}

.o-popup-head {
  font-size: .3rem;
  font-weight: normal;
  text-align: center;
  padding: .3rem 0;
  border-bottom: 1px solid #ededed;
}

.o-popup-bottom {
  position: fixed;
  min-height: 6rem;
  max-height: 8rem;
  overflow: scroll;
  bottom: 0;
  width: 100%;
  border-radius: .1rem .1rem 0 0;
}


/* 动画
============================================================ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
